    <header>
        <h6>MyBlogApp</h6>
        <nav>
            <a href="/">Home</a>
            <a href="/users/register">Register</a>
            <a href="/users/getalluser">All users</a>
        </nav>
    </header>