<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h6>MyBlogApp</h6>
        <nav>
            <a href="/">Home</a>
            <a href="/users/register">Register</a>
        </nav>
    </header>
    <main>
        <h1> welcome !!!!</h1>
    </main>
    <footer>
        <p>copyright@2025</p>
    </footer>
</body>
</html>